.fixed {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
}
.logo{
    height: 42px;
    width: 101px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
}
.title {
    border-bottom: 1px solid #ddd;
}
.title a {
    font-size: 12px;
    padding-top: 5px;
}
.a-title {
    margin: 0 5px 0 3px;
}
.shipin-group {
    margin-bottom: 15px;
}
#search-input {
    border-radius: 5px 0 0 5px;
}
#search-btn {
    padding: 0px 10px 0 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#search-btn i {

}