.logo{
    height: 42px;
    width: 101px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/logo.png");
}
.contentLeft .tips{
    margin-bottom: 0px;
}
.dataList .header .tuijian{
    border: none;
}
.dataList .header{
    border: 1px solid #ddd;
}
.dataList .tuijian li a{
    padding: 8px 5px;
    text-decoration: underline;
}
.dataList .shipin{
    padding: 0;
}
.dataList a {
}
.dataList .shipin .title{
    /*font-size: 1.8rem;
    line-height: 4.3rem;
    height: 8.6rem;
    text-overflow: ellipsis;*/
}
.dataInfo {
    padding-top: 0px;
}
/*专辑页面*/
.video-play-src a {
    width: 50px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: block;
    text-align: center;
    color: #3e4452;
    float: left;
    margin: 2px 5px 0 6px;
    background: #e6e8e9;
}